fidelis/playbooks/Fidelis_Elevate_Endpoint_Create_CEF_Alert.yml
id: f646e547-dc48-446b-8a66-40f8a2bed9d5
version: 43
name: Fidelis Elevate Endpoint Create CEF Alert
description: This playbook maps fields from a Fidelis Endpoint Alert and Event to
  common CEF fields.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: bb1fcda8-d276-40d4-8ea3-89c3aff3e115
    type: start
    task:
      id: bb1fcda8-d276-40d4-8ea3-89c3aff3e115
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 65
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: e71c7845-53e5-4dba-8ece-eda1aea694c2
    type: title
    task:
      id: e71c7845-53e5-4dba-8ece-eda1aea694c2
      version: -1
      name: Populate CEF headers
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "9"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 225
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "9":
    id: "9"
    taskid: 2a2ce568-c5f6-44b5-8190-eb35e3b9e211
    type: regular
    task:
      id: 2a2ce568-c5f6-44b5-8190-eb35e3b9e211
      version: -1
      name: Set CEF Header
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "11"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: CEF|0|Fidelis Cybersecurity|Fidelis Endpoint|${Fidelis.Endpoint.Platform.Version}|${Fidelis.Endpoint.Alert.Source}|${Fidelis.Endpoint.Alert.Intel
          Source}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: c3bd1f23-0403-4a57-8e64-1680b525d381
    type: regular
    task:
      id: c3bd1f23-0403-4a57-8e64-1680b525d381
      version: -1
      name: Set CEF Severity to Very High
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data}|Very-High|
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "11":
    id: "11"
    taskid: 1a7b0d81-145f-4b0a-8e89-29753c87ccba
    type: condition
    task:
      id: 1a7b0d81-145f-4b0a-8e89-29753c87ccba
      version: -1
      name: Check the severity number
      description: "Gets a value and return it. This is to be used in playbook conditional
        tasks - get a value from incident field, label or context, and act accordingly.
        \nIf an array is returned. the first value will be the decision making value."
      scriptName: checkValue
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "15"
      "1":
      - "10"
      "2":
      - "12"
      "3":
      - "13"
      "4":
      - "14"
    scriptarguments:
      value:
        simple: ${Fidelis.Endpoint.Alert.Severity}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "12":
    id: "12"
    taskid: 1e96a2d4-ddce-4aea-8dca-66a959611b73
    type: regular
    task:
      id: 1e96a2d4-ddce-4aea-8dca-66a959611b73
      version: -1
      name: Set CEF Severity to High
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data}|High|
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "13":
    id: "13"
    taskid: 58def843-701f-40b9-884f-ba136418728a
    type: regular
    task:
      id: 58def843-701f-40b9-884f-ba136418728a
      version: -1
      name: Set CEF Severity to Medium
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data}|Medium|
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "14":
    id: "14"
    taskid: 4fa05446-3525-4720-81ed-cf70374eec96
    type: regular
    task:
      id: 4fa05446-3525-4720-81ed-cf70374eec96
      version: -1
      name: Set CEF Severity to Low
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data}|Low|
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1555,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: 3e30b516-dc20-441f-8b73-0c5c08cbb9fd
    type: regular
    task:
      id: 3e30b516-dc20-441f-8b73-0c5c08cbb9fd
      version: -1
      name: Set CEF Severity to Unknown
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "16"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data}|Unknown|
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1985,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "16":
    id: "16"
    taskid: ed0d9a65-1b3c-4e90-875c-0cc384cf2eeb
    type: title
    task:
      id: ed0d9a65-1b3c-4e90-875c-0cc384cf2eeb
      version: -1
      name: Populate event specific field values
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "24"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "17":
    id: "17"
    taskid: bbf1045e-a5f0-441a-8a56-63e06b18bc9d
    type: regular
    task:
      id: bbf1045e-a5f0-441a-8a56-63e06b18bc9d
      version: -1
      name: Set the CEF Alert data
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "25"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: CEF Alert
      value:
        simple: ${data}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 4975
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "18":
    id: "18"
    taskid: 909dcf78-4e58-4edd-83b1-3a12046e08ff
    type: regular
    task:
      id: 909dcf78-4e58-4edd-83b1-3a12046e08ff
      version: -1
      name: MapValues
      description: 'Map the given values to the translated values. If given values:
        a,b,c and translated: 1,2,3 then input is a will return 1'
      scriptName: MapValues
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      input:
        simple: 1,2,3,4,5
      translated:
        simple: '"Very-High","High","Medium","Low","Unknown"'
      values:
        complex:
          root: Fidelis
          accessor: Endpoint.Alert.Severity
          transformers:
          - operator: Stringify
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "23":
    id: "23"
    taskid: 94a62ec4-435a-4516-8520-c280321fa0dc
    type: regular
    task:
      id: 94a62ec4-435a-4516-8520-c280321fa0dc
      version: -1
      name: Populate filePath
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "40"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} filePath=${Fidelis.Endpoint.Alert.Event.Path}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "24":
    id: "24"
    taskid: c629ae11-c261-4d38-8c93-938599e53664
    type: condition
    task:
      id: c629ae11-c261-4d38-8c93-938599e53664
      version: -1
      name: Which event type
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "52"
      Anti-Malware:
      - "49"
      DNS:
      - "48"
      File:
      - "46"
      Network:
      - "44"
      Process:
      - "43"
      Registry:
      - "45"
      Script-Execution:
      - "50"
      USB:
      - "47"
    separatecontext: false
    conditions:
    - label: Process
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "0"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "1"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "30"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "31"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "32"
    - label: File
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "2"
        - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "4"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "8"
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "3"
    - label: Registry
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "9"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "12"
    - label: USB
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "14"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "16"
    - label: DNS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "17"
    - label: Anti-Malware
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "18"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "29"
    - label: Script-Execution
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "34"
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1040
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "25":
    id: "25"
    taskid: cacba034-24cf-4e50-814b-ace231018568
    type: regular
    task:
      id: cacba034-24cf-4e50-814b-ace231018568
      version: -1
      name: DeleteContext
      description: Delete field from context
      scriptName: DeleteContext
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "51"
    scriptarguments:
      all: {}
      index: {}
      key:
        simple: data
      keysToKeep: {}
      subplaybook: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 5150
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "26":
    id: "26"
    taskid: 968474ab-abad-48c2-8c37-daa45162e272
    type: regular
    task:
      id: 968474ab-abad-48c2-8c37-daa45162e272
      version: -1
      name: Populate sproc
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "27"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} sproc=${Fidelis.Endpoint.Alert.Event.Path}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3285
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "27":
    id: "27"
    taskid: e49c8f36-1581-4669-8f47-494f2d622b0f
    type: regular
    task:
      id: e49c8f36-1581-4669-8f47-494f2d622b0f
      version: -1
      name: Populate spid
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} spid=${Fidelis.Endpoint.Alert.Event.Pid}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "29":
    id: "29"
    taskid: 4b1a8a24-6b28-4724-871a-8d1c65a9b312
    type: title
    task:
      id: 4b1a8a24-6b28-4724-871a-8d1c65a9b312
      version: -1
      name: Set the context path and delete temp path
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "17"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 4830
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "30":
    id: "30"
    taskid: dbe340a1-864c-4eeb-876e-6f16adbcae6d
    type: title
    task:
      id: dbe340a1-864c-4eeb-876e-6f16adbcae6d
      version: -1
      name: Populate generic field values
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "31"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 3635
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "31":
    id: "31"
    taskid: 0c5ddc52-0ca6-436f-882f-6d35af239acf
    type: regular
    task:
      id: 0c5ddc52-0ca6-436f-882f-6d35af239acf
      version: -1
      name: Populate suser
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "59"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} suser=${Fidelis.Endpoint.Alert.Event.User}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 3780
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "32":
    id: "32"
    taskid: c5e1088f-39ca-413a-891e-efb7e1b6863a
    type: regular
    task:
      id: c5e1088f-39ca-413a-891e-efb7e1b6863a
      version: -1
      name: Populate dst
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "33"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} dst=${Fidelis.Endpoint.Alert.Event.Remote IP}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2235
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "33":
    id: "33"
    taskid: a7954ec4-e31a-4ebe-85a3-37e2d20d0a18
    type: regular
    task:
      id: a7954ec4-e31a-4ebe-85a3-37e2d20d0a18
      version: -1
      name: Populate src
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "34"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} src=${Fidelis.Endpoint.Alert.Event.Local IP}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "34":
    id: "34"
    taskid: 2549d7ad-42e7-4c5f-80c1-5c4e2a7c1329
    type: regular
    task:
      id: 2549d7ad-42e7-4c5f-80c1-5c4e2a7c1329
      version: -1
      name: Populate spt
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "35"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} spt=${Fidelis.Endpoint.Alert.Event.Local Port}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2585
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "35":
    id: "35"
    taskid: 7c940aa7-de62-41d7-82bd-16945be1dabc
    type: regular
    task:
      id: 7c940aa7-de62-41d7-82bd-16945be1dabc
      version: -1
      name: Populate dpt
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "58"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} dpt=${Fidelis.Endpoint.Alert.Event.Remote Port}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "36":
    id: "36"
    taskid: f82e3718-6818-462b-8024-88533a7e305e
    type: regular
    task:
      id: f82e3718-6818-462b-8024-88533a7e305e
      version: -1
      name: Populate filehash
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "26"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} filehash=${Fidelis.Endpoint.Alert.Event.Hash}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 3110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "37":
    id: "37"
    taskid: aa4dd8e2-9f4b-4dd9-861e-62ec097b4c3a
    type: regular
    task:
      id: aa4dd8e2-9f4b-4dd9-861e-62ec097b4c3a
      version: -1
      name: Populate filePath
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "39"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} filePath=${Fidelis.Endpoint.Alert.Event.Path}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "38":
    id: "38"
    taskid: 0f83b942-97da-408e-8c40-72da904a13ca
    type: regular
    task:
      id: 0f83b942-97da-408e-8c40-72da904a13ca
      version: -1
      name: Populate filehash
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} filehash=${Fidelis.Endpoint.Alert.Event.Hash}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 3110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "39":
    id: "39"
    taskid: 856caac3-04d0-4acc-8094-afdb5f9e34e8
    type: regular
    task:
      id: 856caac3-04d0-4acc-8094-afdb5f9e34e8
      version: -1
      name: Populate fsize
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "36"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} fsize=${Fidelis.Endpoint.Alert.Event.Size}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "40":
    id: "40"
    taskid: 7256d6ff-8a95-42e9-8fc8-008334cb230d
    type: regular
    task:
      id: 7256d6ff-8a95-42e9-8fc8-008334cb230d
      version: -1
      name: Populate fsize
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "38"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} fsize=${Fidelis.Endpoint.Alert.Event.Size}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "41":
    id: "41"
    taskid: 2d8e7bba-1a5b-40a2-891e-4545837ed34d
    type: regular
    task:
      id: 2d8e7bba-1a5b-40a2-891e-4545837ed34d
      version: -1
      name: Populate sproc
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "42"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} sproc=${Fidelis.Endpoint.Alert.Event.Parent Path}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3285
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "42":
    id: "42"
    taskid: 2a3116ef-5712-48c5-8339-df056c2b7050
    type: regular
    task:
      id: 2a3116ef-5712-48c5-8339-df056c2b7050
      version: -1
      name: Populate spid
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} spid=${Fidelis.Endpoint.Alert.Event.Ppid}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3460
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "43":
    id: "43"
    taskid: cec466d3-5f98-4e21-8d83-91dd262ad14c
    type: title
    task:
      id: cec466d3-5f98-4e21-8d83-91dd262ad14c
      version: -1
      name: Process
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "37"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "44":
    id: "44"
    taskid: e4f9aa75-1253-41c0-8f78-28c207c99c26
    type: title
    task:
      id: e4f9aa75-1253-41c0-8f78-28c207c99c26
      version: -1
      name: Network
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "32"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 807.5,
          "y": 2075
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "45":
    id: "45"
    taskid: 4e5c9728-9ac9-4389-8407-5316dfdeeb2e
    type: title
    task:
      id: 4e5c9728-9ac9-4389-8407-5316dfdeeb2e
      version: -1
      name: Registry
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "64"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 2075
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "46":
    id: "46"
    taskid: 8d7fd5d6-19c4-4cbb-874c-22f6cb8e0f4a
    type: title
    task:
      id: 8d7fd5d6-19c4-4cbb-874c-22f6cb8e0f4a
      version: -1
      name: File
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "23"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "47":
    id: "47"
    taskid: 0fa9d853-299c-468d-81e9-3628277da5e9
    type: title
    task:
      id: 0fa9d853-299c-468d-81e9-3628277da5e9
      version: -1
      name: USB
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1995,
          "y": 3475
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "48":
    id: "48"
    taskid: a308aa21-5557-41e4-8f87-bb20260a7a02
    type: title
    task:
      id: a308aa21-5557-41e4-8f87-bb20260a7a02
      version: -1
      name: DNS
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "56"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1215
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "49":
    id: "49"
    taskid: 3a6a30db-16ad-4dc2-8408-8f8a18e5babd
    type: title
    task:
      id: 3a6a30db-16ad-4dc2-8408-8f8a18e5babd
      version: -1
      name: Anti-Malware
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2425,
          "y": 3475
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "50":
    id: "50"
    taskid: 5879b18e-5dfb-48d4-8a06-32097b5135d1
    type: title
    task:
      id: 5879b18e-5dfb-48d4-8a06-32097b5135d1
      version: -1
      name: Script-Execution
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "30"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2855,
          "y": 3475
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "51":
    id: "51"
    taskid: 5df2be33-aff1-4d7e-8992-96f6c2a0ee18
    type: title
    task:
      id: 5df2be33-aff1-4d7e-8992-96f6c2a0ee18
      version: -1
      name: Complete
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 5325
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "52":
    id: "52"
    taskid: b2592190-a5fb-4642-8427-2416dc9da8d8
    type: regular
    task:
      id: b2592190-a5fb-4642-8427-2416dc9da8d8
      version: -1
      name: Populate msg
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "62"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} msg=${Fidelis.Endpoint.Alert.Description}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 4305
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "53":
    id: "53"
    taskid: 3a7e80cd-3efc-412c-8fb3-6965b51c9c0d
    type: regular
    task:
      id: 3a7e80cd-3efc-412c-8fb3-6965b51c9c0d
      version: -1
      name: Populate filePath
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "54"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} filePath=${Fidelis.Endpoint.Alert.Event.Parent Path}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "54":
    id: "54"
    taskid: 65137bd6-1efc-40a7-8d62-cb9c79cfadf1
    type: regular
    task:
      id: 65137bd6-1efc-40a7-8d62-cb9c79cfadf1
      version: -1
      name: Populate fsize
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "55"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} fsize=${Fidelis.Endpoint.Alert.Event.Size}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1885
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "55":
    id: "55"
    taskid: 80230361-8f4b-4396-8ffa-c18db81f8750
    type: regular
    task:
      id: 80230361-8f4b-4396-8ffa-c18db81f8750
      version: -1
      name: Populate filehash
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "32"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} filehash=${Fidelis.Endpoint.Alert.Event.Parent Hash}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 2060
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "56":
    id: "56"
    taskid: 66a77b89-03bf-41ea-8964-9c2d6320a1ae
    type: regular
    task:
      id: 66a77b89-03bf-41ea-8964-9c2d6320a1ae
      version: -1
      name: Populate cs1Label
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "57"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs1Label=DNS Information
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1360
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "57":
    id: "57"
    taskid: 9ef52e4b-b62f-41df-887e-4f0b93a20c8f
    type: regular
    task:
      id: 9ef52e4b-b62f-41df-887e-4f0b93a20c8f
      version: -1
      name: Populate cs1
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "53"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs1=${Fidelis.Endpoint.Alert.Event.Dns Answer}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1237.5,
          "y": 1535
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "58":
    id: "58"
    taskid: 7e1dfae4-50ac-4bd1-8261-5ea4e5d56401
    type: regular
    task:
      id: 7e1dfae4-50ac-4bd1-8261-5ea4e5d56401
      version: -1
      name: Populate deviceDirection
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "61"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} deviceDirection=${Fidelis.Endpoint.Alert.Event.Network Direction}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "59":
    id: "59"
    taskid: f6d4c587-f445-4b4e-8357-ff8975dc4640
    type: regular
    task:
      id: f6d4c587-f445-4b4e-8357-ff8975dc4640
      version: -1
      name: Populate cs6Label
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "60"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs6Label=Command Line
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 3955
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "60":
    id: "60"
    taskid: 0e25d8cb-df5e-47f0-8781-153258beefba
    type: regular
    task:
      id: 0e25d8cb-df5e-47f0-8781-153258beefba
      version: -1
      name: Populate cs6
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "52"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs6=${Fidelis.Endpoint.Alert.Event.Parameters}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1780,
          "y": 4130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "61":
    id: "61"
    taskid: 4c505a5b-c5ce-4a89-86d0-0516a00f8f15
    type: regular
    task:
      id: 4c505a5b-c5ce-4a89-86d0-0516a00f8f15
      version: -1
      name: Populate protocol
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} proto=${Fidelis.Endpoint.Alert.Event.Protocol}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 3110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "62":
    id: "62"
    taskid: 0515c520-1951-446a-8159-4c4638bef4f8
    type: regular
    task:
      id: 0515c520-1951-446a-8159-4c4638bef4f8
      version: -1
      name: Populate shost
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "63"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} shost=${Fidelis.Endpoint.Alert.Endpoint.Host Name}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 4480
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "63":
    id: "63"
    taskid: b0a2f91f-ea35-40ea-852a-48838ba3e985
    type: regular
    task:
      id: b0a2f91f-ea35-40ea-852a-48838ba3e985
      version: -1
      name: Populate smac
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "29"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} smac=${Fidelis.Endpoint.Alert.Endpoint.Mac Address}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 695,
          "y": 4655
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "64":
    id: "64"
    taskid: 681c879c-365d-434b-89dd-fb389f206af6
    type: regular
    task:
      id: 681c879c-365d-434b-89dd-fb389f206af6
      version: -1
      name: Populate cs1Label
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "68"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs1Label=Registry Key
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 2235
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "65":
    id: "65"
    taskid: b0a1d192-9945-4b00-8dd9-885d6eaa0c62
    type: regular
    task:
      id: b0a1d192-9945-4b00-8dd9-885d6eaa0c62
      version: -1
      name: Populate cs2Label
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "69"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs2Label=Registry Value
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 2585
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "66":
    id: "66"
    taskid: 09518093-6cd6-4040-86d2-aa2a6df62239
    type: regular
    task:
      id: 09518093-6cd6-4040-86d2-aa2a6df62239
      version: -1
      name: Populate cs3Label
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "67"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs3Label=Registry Data
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 2935
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "67":
    id: "67"
    taskid: d14fda55-1cd0-4053-8ef4-54bc7e60fbe6
    type: regular
    task:
      id: d14fda55-1cd0-4053-8ef4-54bc7e60fbe6
      version: -1
      name: Populate cs3
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "41"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs3=${Fidelis.Endpoint.Alert.Event.Registry Value}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 3110
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "68":
    id: "68"
    taskid: f78e0809-9c0e-43d6-8620-9136c891ccba
    type: regular
    task:
      id: f78e0809-9c0e-43d6-8620-9136c891ccba
      version: -1
      name: Populate cs1
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "65"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs1l=${Fidelis.Endpoint.Alert.Event.Hive}${Fidelis.Endpoint.Alert.Event.Path}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 2410
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "69":
    id: "69"
    taskid: be0574eb-1cbc-4e20-8002-0e68817d2baf
    type: regular
    task:
      id: be0574eb-1cbc-4e20-8002-0e68817d2baf
      version: -1
      name: Populate cs2
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "66"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: data
      value:
        simple: ${data} cs2=${Fidelis.Endpoint.Alert.Event.Name}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1667.5,
          "y": 2760
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 5340,
        "width": 3185,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs:
- contextPath: CEF Alert
  description: The full CEF data that can be sent over the network
  type: string
