fidelis/playbooks/Fidelis_Elevate_Endpoint_Get_Event_for_Alert.yml
id: ffcd505b-7a89-40c0-86bb-8b59ab5e0bb8
version: 56
name: Fidelis Elevate Endpoint Get Event for Alert
description: Attempts to look up the event data associated with an alert generated
  by Fidelis Elevate Endpoint
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: dffac688-5f49-4f56-8edb-2866266e2917
    type: start
    task:
      id: dffac688-5f49-4f56-8edb-2866266e2917
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": -90
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: 52da0a26-63e1-48e3-86c3-fa5a4a01f2f4
    type: regular
    task:
      id: 52da0a26-63e1-48e3-86c3-fa5a4a01f2f4
      version: -1
      name: fidelis-edr-get-event-for-alert
      description: Retrieves the event details for a particular alert generated by
        Fidelis Endpoint (if the event still exists)
      script: Fidelis Elevate Endpoint|||fidelis-edr-get-event-for-alert
      type: regular
      iscommand: true
      brand: Fidelis Elevate Endpoint
    nexttasks:
      '#none#':
      - "3"
    scriptarguments:
      alertId:
        simple: ${inputs.alertId}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 90
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "2":
    id: "2"
    taskid: 493e4074-b3ab-44fd-8733-42ad63e3aa99
    type: regular
    task:
      id: 493e4074-b3ab-44fd-8733-42ad63e3aa99
      version: -1
      name: Set the event found context
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Found Event
      value:
        simple: "True"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 180,
          "y": 970
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "3":
    id: "3"
    taskid: bb9aa75f-a00b-4b06-8d80-26da3927b08f
    type: condition
    task:
      id: bb9aa75f-a00b-4b06-8d80-26da3927b08f
      version: -1
      name: Was the event found and populated
      description: Check if a given value exists in the context. Will return 'no'
        for empty empty arrays. To be used mostly with DQ and selectors.
      scriptName: Exists
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "4"
      "yes":
      - "9"
    scriptarguments:
      value:
        simple: ${Fidelis.Endpoint.Alert.Event}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 450,
          "y": 290
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "4":
    id: "4"
    taskid: add78119-6b96-491a-8ea5-e60ad178a90f
    type: regular
    task:
      id: add78119-6b96-491a-8ea5-e60ad178a90f
      version: -1
      name: Sleep for 5 mins
      description: Sleep for X seconds
      scriptName: Sleep
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "5"
    scriptarguments:
      seconds:
        simple: "300"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "5":
    id: "5"
    taskid: da904f00-dd54-49da-8576-5a1a555bb339
    type: regular
    task:
      id: da904f00-dd54-49da-8576-5a1a555bb339
      version: -1
      name: Set
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Fidelis.Endpoint.Alert.Event Retries
      value:
        complex:
          root: Fidelis
          accessor: Endpoint.Alert.Event Retries
          transformers:
          - operator: addition
            args:
              by:
                value:
                  simple: "1"
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 940
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "6":
    id: "6"
    taskid: fc3fa497-4fdc-4ef2-88d0-cab39a3a039c
    type: condition
    task:
      id: fc3fa497-4fdc-4ef2-88d0-cab39a3a039c
      version: -1
      name: isError
      description: Check whether given entry/entries returned an error. Use ${lastCompletedTaskEntries}
        to check the previous task entries. If array is provided, will return yes
        if one of the entries returned an error.
      scriptName: isError
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "8"
      "yes":
      - "7"
    scriptarguments:
      entryId:
        simple: ${lastCompletedTaskEntries}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 920,
          "y": 1140
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "7":
    id: "7"
    taskid: e308b0e4-252c-44dd-825d-317a4bbf765b
    type: regular
    task:
      id: e308b0e4-252c-44dd-825d-317a4bbf765b
      version: -1
      name: Set
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Incident.Fidelis.Endpoint.Alert.Event Retries
      value:
        simple: "1"
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1240,
          "y": 1340
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 4bca0137-df6d-4f5d-8cad-a86e5e9f5046
    type: title
    task:
      id: 4bca0137-df6d-4f5d-8cad-a86e5e9f5046
      version: -1
      name: Complete
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 710,
          "y": 1600
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "9":
    id: "9"
    taskid: e10a7c83-932a-4953-84ad-d62981d34c2e
    type: regular
    task:
      id: e10a7c83-932a-4953-84ad-d62981d34c2e
      version: -1
      name: Set the event data
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "2"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Fidelis.Endpoint.Alert.Event
      value:
        complex:
          root: Fidelis
          accessor: Endpoint.Alert.Event
          transformers:
          - operator: Stringify
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 180,
          "y": 710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 1755,
        "width": 1440,
        "x": 180,
        "y": -90
      }
    }
  }
inputs:
- key: alertId
  value: {}
  required: true
  description: Alert ID to find event data for
outputs:
- contextPath: Found Event
  description: Whether the event was found or not
  type: boolean
- contextPath: Fidelis.Endpoint.Alert.Event
  description: Event data
  type: string
