fidelis/playbooks/Fidelis_Elevate_Endpoint_Execute_Script.yml
id: e16a2c2e-09bf-4607-82c2-f249f9dcf5fe
version: 94
name: Fidelis Elevate Endpoint Execute Script
description: This script will obtain a list of available scripts and their options.
  It will then present the user with an option of which script can be executed and
  the answers that are required.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 6365e806-3f7a-4013-8c1e-d71b3bb03547
    type: start
    task:
      id: 6365e806-3f7a-4013-8c1e-d71b3bb03547
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "1"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 50
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: 18ddeb02-1e94-4cfb-8ba0-546a68737781
    type: regular
    task:
      id: 18ddeb02-1e94-4cfb-8ba0-546a68737781
      version: -1
      name: Get a list of tasks that are available
      scriptName: FidelisElevateEndpointGetScripts
      type: regular
      iscommand: false
      brand: Fidelis Elevate Endpoint
    nexttasks:
      '#none#':
      - "5"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "5":
    id: "5"
    taskid: cea61fec-c9d1-49ff-8ee9-a256893ce1b7
    type: collection
    task:
      id: cea61fec-c9d1-49ff-8ee9-a256893ce1b7
      version: -1
      name: Select Script
      type: collection
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "10"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 370
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
    message:
      to:
        simple: Fidelis Analyst
      subject:
        simple: Select a task
      body:
        complex:
          root: Fidelis
          accessor: Endpoint.Scripts
          transformers:
          - operator: join
            args:
              separator:
                value:
                  simple: |2+

          - operator: concat
            args:
              prefix:
                value:
                  simple: "Please use the name of one of the scripts below to execute:\n
                    \n "
              suffix:
                value:
                  simple: " \n \nYou will need to paste the value using the link below.."
      methods:
      - email
      format: ""
      bcc: null
      cc: null
      timings:
        retriescount: 2
        retriesinterval: 360
        completeafterreplies: 1
    form:
      questions:
      - id: "0"
        label: ""
        labelarg:
          simple: Please enter the script name to run or "None" to stop running scripts
        required: true
        gridcolumns: []
        defaultrows: []
        type: shortText
        options:
        - "Yes"
        - "No"
        fieldassociated: ""
        placeholder: ""
        tooltip: Use "None" to stop executing scripts
      title: Select Script to Run
      description: ""
      sender: ""
      expired: false
      totalanswers: 0
  "6":
    id: "6"
    taskid: 6c3565ed-bcc7-4f28-8bae-2d48ce15e142
    type: regular
    task:
      id: 6c3565ed-bcc7-4f28-8bae-2d48ce15e142
      version: -1
      name: FidelisElevateEndpointExecuteScript
      scriptName: FidelisElevateEndpointExecuteScript
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      hostname:
        simple: ${incident.endpointname}
      scriptname:
        simple: ${Select Script to Run.Answers.0}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 480,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "7":
    id: "7"
    taskid: 29c5d38c-d3e5-4a29-82e6-1d99146e465d
    type: regular
    task:
      id: 29c5d38c-d3e5-4a29-82e6-1d99146e465d
      version: -1
      name: Set no more scripts flag
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Fidelis.Endpoint.Alert.ScriptsComplete
      value:
        simple: "true"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 4709e2d6-41a3-42e3-8001-ed54e36a7a7b
    type: condition
    task:
      id: 4709e2d6-41a3-42e3-8001-ed54e36a7a7b
      version: -1
      name: Check no more scripts
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "6"
      None:
      - "7"
    separatecontext: false
    conditions:
    - label: None
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.ScriptsCurrent
            iscontext: true
          right:
            value:
              simple: None
    view: |-
      {
        "position": {
          "x": 265,
          "y": 720
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "10":
    id: "10"
    taskid: df3c9a57-1ad6-4b06-8ea5-92fcef2fcb79
    type: regular
    task:
      id: df3c9a57-1ad6-4b06-8ea5-92fcef2fcb79
      version: -1
      name: Set script name
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "8"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Fidelis.Endpoint.Alert.ScriptsCurrent
      value:
        simple: ${Select Script to Run.Answers.0}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 265,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 940,
        "width": 810,
        "x": 50,
        "y": 50
      }
    }
  }
inputs: []
outputs:
- contextPath: Fidelis.Endpoint.Alert.ScriptsComplete
  type: unknown
