fidelis/playbooks/Fidelis_Elevate_Endpoint_Enrichment.yml
id: e7ac9021-96ee-451c-88fa-a2a027f5f20b
version: 201
name: Fidelis Elevate Endpoint Enrichment
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 9be60df9-5ff1-4c8a-86fe-824530ba4d8d
    type: start
    task:
      id: 9be60df9-5ff1-4c8a-86fe-824530ba4d8d
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "65"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1565,
          "y": -130
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "1":
    id: "1"
    taskid: 2c07f295-ac27-4a3c-8fae-8a3e6c36d433
    type: regular
    task:
      id: 2c07f295-ac27-4a3c-8fae-8a3e6c36d433
      version: -1
      name: Get the Event data
      script: Fidelis Elevate Endpoint|||fidelis-edr-get-event-for-alert
      type: regular
      iscommand: true
      brand: Fidelis Elevate Endpoint
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      alertId:
        simple: incident.labels.Id
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "5":
    id: "5"
    taskid: 71be72c4-7699-4e6c-8324-5acbe3114a35
    type: condition
    task:
      id: 71be72c4-7699-4e6c-8324-5acbe3114a35
      version: -1
      name: Is there already event enrichment?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "1"
      "yes":
      - "15"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Fidelis Event Found
            iscontext: true
      - - operator: isTrue
          left:
            value:
              simple: incident.labels.Fidelis Event Found
            iscontext: true
    - label: "no"
      condition:
      - - operator: isNotExists
          left:
            value:
              simple: incident.labels.Fidelis Event Found
            iscontext: true
        - operator: isFalse
          left:
            value:
              simple: incident.labels.Fidelis Event Found
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1677.5,
          "y": 1070
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "6":
    id: "6"
    taskid: e6fdfab0-4a83-4d3b-8c85-611fab0c240b
    type: condition
    task:
      id: e6fdfab0-4a83-4d3b-8c85-611fab0c240b
      version: -1
      name: Is there an alert ID?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "15"
      "yes":
      - "5"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Id
            iscontext: true
    - label: "no"
      condition:
      - - operator: isNotExists
          left:
            value:
              simple: incident.labels.Id
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 735
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "7":
    id: "7"
    taskid: eaf3369c-1229-4bb0-803a-c3f56d34af4c
    type: condition
    task:
      id: eaf3369c-1229-4bb0-803a-c3f56d34af4c
      version: -1
      name: Is this a vulnerable software alert?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "18"
      "yes":
      - "8"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.labels.Source
            iscontext: true
          right:
            value:
              simple: Installed Software CVE
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 1565
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 707a9766-b74d-4288-8ed4-e462e949cbbe
    type: regular
    task:
      id: 707a9766-b74d-4288-8ed4-e462e949cbbe
      version: -1
      name: Classify incident as Vulnerable software
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      app: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      closeNotes: {}
      closeReason: {}
      customFields: {}
      cve: {}
      cvss: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      duration: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      labels: {}
      malwarefamily: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      replacePlaybook: {}
      roles: {}
      severity: {}
      signature: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      type:
        simple: Vulnerability
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 3192.5,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: 829748a5-c684-4e40-8032-5edb4aef2178
    type: title
    task:
      id: 829748a5-c684-4e40-8032-5edb4aef2178
      version: -1
      name: Classify Alert Type
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "7"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 1420
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "16":
    id: "16"
    taskid: cef1e5d1-f424-4734-8361-510cfb8063f0
    type: condition
    task:
      id: cef1e5d1-f424-4734-8361-510cfb8063f0
      version: -1
      name: Is this an anti-malware alert?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "26"
      "yes":
      - "17"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: incident.labels.Source Type
            iscontext: true
          right:
            value:
              simple: "18"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: incident.labels.Source Type
            iscontext: true
          right:
            value:
              simple: "29"
    view: |-
      {
        "position": {
          "x": 695,
          "y": 1915
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "17":
    id: "17"
    taskid: fe50a1ce-8ebb-4ccf-83e4-2085e4d55d25
    type: regular
    task:
      id: fe50a1ce-8ebb-4ccf-83e4-2085e4d55d25
      version: -1
      name: Classify incident as Malware
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Malware
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1452.5,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "18":
    id: "18"
    taskid: e4548e19-b8d8-4546-8b31-4fd56771e901
    type: condition
    task:
      id: e4548e19-b8d8-4546-8b31-4fd56771e901
      version: -1
      name: Is this a ThreatBridge alert?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "16"
      "yes":
      - "20"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Source Type
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: incident.labels.Source Type
            iscontext: true
          right:
            value:
              simple: "16"
    view: |-
      {
        "position": {
          "x": 1350,
          "y": 1740
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "19":
    id: "19"
    taskid: c8fdf969-b324-4f31-853c-62b5f4dd9f78
    type: title
    task:
      id: c8fdf969-b324-4f31-853c-62b5f4dd9f78
      version: -1
      name: Playbook Complete
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 2790
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "20":
    id: "20"
    taskid: 73e594f9-9c05-43d7-85b9-574a30565111
    type: condition
    task:
      id: 73e594f9-9c05-43d7-85b9-574a30565111
      version: -1
      name: Is this IP related?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "22"
      "yes":
      - "21"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
      - - operator: isEqualString
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "3"
    view: |-
      {
        "position": {
          "x": 2220,
          "y": 2090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "21":
    id: "21"
    taskid: 475801b1-fa9e-4707-8b87-f3599c4da24c
    type: regular
    task:
      id: 475801b1-fa9e-4707-8b87-f3599c4da24c
      version: -1
      name: Classify incident as C2Communication
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: C2Communication
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2762.5,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "22":
    id: "22"
    taskid: 8ddf18e2-39f8-43f1-88a6-cc51da65c814
    type: condition
    task:
      id: 8ddf18e2-39f8-43f1-88a6-cc51da65c814
      version: -1
      name: Is this file related?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "24"
      "yes":
      - "23"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "4"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "8"
    view: |-
      {
        "position": {
          "x": 2005,
          "y": 2265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "23":
    id: "23"
    taskid: 2f866a07-0aea-4c95-8459-7fdffd2fce56
    type: regular
    task:
      id: 2f866a07-0aea-4c95-8459-7fdffd2fce56
      version: -1
      name: Classify incident as Malware
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Malware
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2332.5,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "24":
    id: "24"
    taskid: 3acc3654-01f7-4950-8f6c-acba252b302a
    type: condition
    task:
      id: 3acc3654-01f7-4950-8f6c-acba252b302a
      version: -1
      name: Is this process related?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "25"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "0"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "2"
    view: |-
      {
        "position": {
          "x": 1790,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "25":
    id: "25"
    taskid: 6c990eac-be65-48b6-89c3-7ea3c1290d8f
    type: regular
    task:
      id: 6c990eac-be65-48b6-89c3-7ea3c1290d8f
      version: -1
      name: Classify incident as Exploit
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Exploit
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1902.5,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "26":
    id: "26"
    taskid: 7cf52b17-7a2c-4384-8809-2d3526350d7c
    type: condition
    task:
      id: 7cf52b17-7a2c-4384-8809-2d3526350d7c
      version: -1
      name: Is this process related?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "28"
      "yes":
      - "27"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "0"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "2"
    view: |-
      {
        "position": {
          "x": 480,
          "y": 2090
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "27":
    id: "27"
    taskid: a0306898-21dd-41c7-8d46-df5ab73a4bb3
    type: regular
    task:
      id: a0306898-21dd-41c7-8d46-df5ab73a4bb3
      version: -1
      name: Classify incident as Suspicious Process
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Suspicious Process
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1022.5,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "28":
    id: "28"
    taskid: 095a5d05-aaaf-4550-8bf3-2dbd173e4cd0
    type: condition
    task:
      id: 095a5d05-aaaf-4550-8bf3-2dbd173e4cd0
      version: -1
      name: Is this registry related?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "30"
      "yes":
      - "29"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "9"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "12"
    view: |-
      {
        "position": {
          "x": 265,
          "y": 2265
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "29":
    id: "29"
    taskid: b2b31576-182e-47eb-8adb-1c0c1f9571d7
    type: regular
    task:
      id: b2b31576-182e-47eb-8adb-1c0c1f9571d7
      version: -1
      name: Classify incident as Suspicious Registry
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Suspicious Registry
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 592.5,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "30":
    id: "30"
    taskid: 8116bf5e-636e-4d7f-8911-01f6adcac0bd
    type: condition
    task:
      id: 8116bf5e-636e-4d7f-8911-01f6adcac0bd
      version: -1
      name: Is this file related?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "31"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "4"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: incident.labels.Event Type
            iscontext: true
          right:
            value:
              simple: "8"
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2440
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "31":
    id: "31"
    taskid: be2e4860-b8b8-429c-8457-3714c6738d2e
    type: regular
    task:
      id: be2e4860-b8b8-429c-8457-3714c6738d2e
      version: -1
      name: Classify incident as Suspicious File
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Suspicious File
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 162.5,
          "y": 2615
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "52":
    id: "52"
    taskid: 04b266b8-0804-4ec7-8441-bc0b795279bb
    type: regular
    task:
      id: 04b266b8-0804-4ec7-8441-bc0b795279bb
      version: -1
      name: Set alertId context
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "63"
    scriptarguments:
      append: {}
      key:
        simple: Alert ID
      value:
        simple: ${incident.labels.Id}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 195
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "63":
    id: "63"
    taskid: 59e7bbec-ad0d-4cf8-8583-123ceb2dab37
    type: regular
    task:
      id: 59e7bbec-ad0d-4cf8-8583-123ceb2dab37
      version: -1
      name: Set endpointName context with Target
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "6"
    scriptarguments:
      append: {}
      key:
        simple: Endpoint.Hostname
      value:
        simple: ${incident.labels.Target}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1565,
          "y": 470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "65":
    id: "65"
    taskid: 9bf5c4af-7cc8-4931-8ece-51ac8b1b6b84
    type: condition
    task:
      id: 9bf5c4af-7cc8-4931-8ece-51ac8b1b6b84
      version: -1
      name: Was this incident generated by Fidelis?
      description: "Gets a value and return it. This is to be used in playbook conditional
        tasks - get a value from incident field, label or context, and act accordingly.
        \nIf an array is returned. the first value will be the decision making value."
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "yes":
      - "52"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.sourceBrand
            iscontext: true
          right:
            value:
              simple: Fidelis Elevate Endpoint
    view: |-
      {
        "position": {
          "x": 2040,
          "y": 20
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {
      "20_22_#default#": 0.8
    },
    "paper": {
      "dimensions": {
        "height": 2985,
        "width": 3522.5,
        "x": 50,
        "y": -130
      }
    }
  }
inputs: []
outputs: []
