fidelis/playbooks/Fidelis_Elevate_Endpoint_Enrichment.yml
id: e7ac9021-96ee-451c-88fa-a2a027f5f20b
version: 279
name: Fidelis Elevate Endpoint Enrichment
description: This playbook will attempt to gather event data for the alert (if it
  exists and the alert does not already have event data). It will also assign an incident
  type based on the event data it finds.
starttaskid: "0"
tasks:
  "0":
    id: "0"
    taskid: 9be60df9-5ff1-4c8a-86fe-824530ba4d8d
    type: start
    task:
      id: 9be60df9-5ff1-4c8a-86fe-824530ba4d8d
      version: -1
      name: ""
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "65"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 100
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "6":
    id: "6"
    taskid: 25c06fe6-5047-42d7-8438-278d47d0d0f7
    type: condition
    task:
      id: 25c06fe6-5047-42d7-8438-278d47d0d0f7
      version: -1
      name: Is there an alert ID?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "52"
      "yes":
      - "67"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: Fidelis Endpoint Alert ID
            iscontext: true
    - label: "no"
      condition:
      - - operator: isNotExists
          left:
            value:
              simple: 'Fidelis Endpoint '
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 350
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "8":
    id: "8"
    taskid: 707a9766-b74d-4288-8ed4-e462e949cbbe
    type: regular
    task:
      id: 707a9766-b74d-4288-8ed4-e462e949cbbe
      version: -1
      name: Classify incident as Vulnerable software
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      app: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      closeNotes: {}
      closeReason: {}
      customFields: {}
      cve: {}
      cvss: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      duration: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      labels: {}
      malwarefamily: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      replacePlaybook: {}
      roles: {}
      severity: {}
      signature: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      type:
        simple: Vulnerability
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2600,
          "y": 3470
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "15":
    id: "15"
    taskid: 829748a5-c684-4e40-8032-5edb4aef2178
    type: title
    task:
      id: 829748a5-c684-4e40-8032-5edb4aef2178
      version: -1
      name: Classify Alert Type
      type: title
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "84"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 2510
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "17":
    id: "17"
    taskid: fe50a1ce-8ebb-4ccf-83e4-2085e4d55d25
    type: regular
    task:
      id: fe50a1ce-8ebb-4ccf-83e4-2085e4d55d25
      version: -1
      name: Classify incident as Malware
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Malware
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2470,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "19":
    id: "19"
    taskid: c8fdf969-b324-4f31-853c-62b5f4dd9f78
    type: title
    task:
      id: c8fdf969-b324-4f31-853c-62b5f4dd9f78
      version: -1
      name: Playbook Complete
      type: title
      iscommand: false
      brand: ""
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2840,
          "y": 3900
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "21":
    id: "21"
    taskid: 475801b1-fa9e-4707-8b87-f3599c4da24c
    type: regular
    task:
      id: 475801b1-fa9e-4707-8b87-f3599c4da24c
      version: -1
      name: Classify incident as C2Communication
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: C2Communication
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 3180,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "23":
    id: "23"
    taskid: 2f866a07-0aea-4c95-8459-7fdffd2fce56
    type: regular
    task:
      id: 2f866a07-0aea-4c95-8459-7fdffd2fce56
      version: -1
      name: Classify incident as Malware
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Malware
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 3590,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "25":
    id: "25"
    taskid: 6c990eac-be65-48b6-89c3-7ea3c1290d8f
    type: regular
    task:
      id: 6c990eac-be65-48b6-89c3-7ea3c1290d8f
      version: -1
      name: Classify incident as Exploit
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Exploit
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 4040,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "27":
    id: "27"
    taskid: a0306898-21dd-41c7-8d46-df5ab73a4bb3
    type: regular
    task:
      id: a0306898-21dd-41c7-8d46-df5ab73a4bb3
      version: -1
      name: Classify incident as Suspicious Process
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Suspicious Process
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -600,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "29":
    id: "29"
    taskid: b2b31576-182e-47eb-8adb-1c0c1f9571d7
    type: regular
    task:
      id: b2b31576-182e-47eb-8adb-1c0c1f9571d7
      version: -1
      name: Classify incident as Suspicious Registry
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Suspicious Registry
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 730,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "31":
    id: "31"
    taskid: be2e4860-b8b8-429c-8457-3714c6738d2e
    type: regular
    task:
      id: be2e4860-b8b8-429c-8457-3714c6738d2e
      version: -1
      name: Classify incident as Suspicious File
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Suspicious File
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 280,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "52":
    id: "52"
    taskid: db2a1738-55dc-424a-8dd5-3fb6edfdc973
    type: regular
    task:
      id: db2a1738-55dc-424a-8dd5-3fb6edfdc973
      version: -1
      name: Set alertId context
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "67"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Fidelis Endpoint Alert ID
      value:
        simple: ${incident.labels.Id}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 545
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "63":
    id: "63"
    taskid: eae30279-d69c-4303-8f92-578a5eac2356
    type: regular
    task:
      id: eae30279-d69c-4303-8f92-578a5eac2356
      version: -1
      name: Set endpointName context with Target
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "70"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Endpoint.Hostname
      value:
        simple: ${incident.labels.Target}
    continueonerror: true
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1595
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "65":
    id: "65"
    taskid: 9bf5c4af-7cc8-4931-8ece-51ac8b1b6b84
    type: condition
    task:
      id: 9bf5c4af-7cc8-4931-8ece-51ac8b1b6b84
      version: -1
      name: Was this incident generated by Fidelis?
      description: "Gets a value and return it. This is to be used in playbook conditional
        tasks - get a value from incident field, label or context, and act accordingly.
        \nIf an array is returned. the first value will be the decision making value."
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "6"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.sourceBrand
            iscontext: true
          right:
            value:
              simple: Fidelis Elevate Endpoint
    view: |-
      {
        "position": {
          "x": 1880,
          "y": 230
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "66":
    id: "66"
    taskid: 683107f6-aa17-4f68-852a-723bd3fd799c
    type: regular
    task:
      id: 683107f6-aa17-4f68-852a-723bd3fd799c
      version: -1
      name: fidelis-edr-get-alert-data
      script: '|||fidelis-edr-get-alert-details'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "81"
    scriptarguments:
      alertId:
        simple: ${Fidelis Endpoint Alert ID}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 895
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "67":
    id: "67"
    taskid: ca4dbdb6-b060-4149-8aec-cbcc6645ec8b
    type: condition
    task:
      id: ca4dbdb6-b060-4149-8aec-cbcc6645ec8b
      version: -1
      name: Are there alert details?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "66"
      "yes":
      - "81"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: Fidelis.Endpoint.Alert
            iscontext: true
    - label: "no"
      condition:
      - - operator: isNotExists
          left:
            value:
              simple: Fidelis.Endpoint.Alert
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 610
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "68":
    id: "68"
    taskid: 2d89aeeb-f858-4f07-8707-7e80382d3341
    type: condition
    task:
      id: 2d89aeeb-f858-4f07-8707-7e80382d3341
      version: -1
      name: Are there event details?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "72"
      "yes":
      - "15"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event
            iscontext: true
    - label: "no"
      condition:
      - - operator: isNotExists
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 1675
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "69":
    id: "69"
    taskid: 04346148-4e0f-4875-895a-25d7f66b1bd2
    type: condition
    task:
      id: 04346148-4e0f-4875-895a-25d7f66b1bd2
      version: -1
      name: Are there endpoint details?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      "no":
      - "63"
      "yes":
      - "68"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Endpoint
            iscontext: true
    - label: "no"
      condition:
      - - operator: isNotExists
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Endpoint
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 1320
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "70":
    id: "70"
    taskid: 1897a2ef-f918-4b68-8397-493f0b67aa95
    type: regular
    task:
      id: 1897a2ef-f918-4b68-8397-493f0b67aa95
      version: -1
      name: fidelis-edr-get-endpoint-info
      description: Retrieves information about an endpoint, if there is a Fidelis
        Endpoint agent installed.
      script: Fidelis Elevate Endpoint|||fidelis-edr-get-endpoint-info
      type: regular
      iscommand: true
      brand: Fidelis Elevate Endpoint
    nexttasks:
      '#none#':
      - "68"
    scriptarguments:
      hostname:
        simple: ${incident.labels.Target}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1770
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "71":
    id: "71"
    taskid: a72736db-1331-45af-84f2-3136b0b247e0
    type: playbook
    task:
      id: a72736db-1331-45af-84f2-3136b0b247e0
      version: -1
      name: Fidelis Elevate Endpoint Get Event for Alert
      description: Attempts to look up the event data associated with an alert generated
        by Fidelis Elevate Endpoint
      playbookName: Fidelis Elevate Endpoint Get Event for Alert
      type: playbook
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "15"
    scriptarguments:
      alertId:
        simple: ${Fidelis Endpoint Alert ID}
    separatecontext: false
    loop:
      iscommand: false
      builtincondition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event Found
            iscontext: true
          right:
            value:
              simple: "True"
        - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event Retries
            iscontext: true
          right:
            value:
              simple: "5"
        - operator: isTrue
          left:
            value:
              simple: Found Event
            iscontext: true
      exitCondition: ""
      wait: 1
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2295
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "72":
    id: "72"
    taskid: 29704627-2aed-4dfa-86c0-8af145b2ca5b
    type: regular
    task:
      id: 29704627-2aed-4dfa-86c0-8af145b2ca5b
      version: -1
      name: Set the rety count to 0
      description: Sets a value into the context with the given context key
      scriptName: Set
      type: regular
      iscommand: false
      brand: ""
    nexttasks:
      '#none#':
      - "71"
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: Fidelis.Endpoint.Alert.Event Retries
      value:
        simple: "0"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 2120
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "75":
    id: "75"
    taskid: 23b4d50a-7cc1-4fe7-8d3b-c152894c0def
    type: regular
    task:
      id: 23b4d50a-7cc1-4fe7-8d3b-c152894c0def
      version: -1
      name: Classify incident as Network
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostname: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Network
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": -160,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "76":
    id: "76"
    taskid: 5711ed9b-e650-4810-8fc7-5cccc28312b9
    type: regular
    task:
      id: 5711ed9b-e650-4810-8fc7-5cccc28312b9
      version: -1
      name: Classify incident as Windows Event ID
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostname: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Windows Event ID
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1160,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "79":
    id: "79"
    taskid: d7fc73a3-3245-48fa-8e7b-76f0efd3b073
    type: regular
    task:
      id: d7fc73a3-3245-48fa-8e7b-76f0efd3b073
      version: -1
      name: Classify incident as USB
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostname: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: USB
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 1600,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "81":
    id: "81"
    taskid: 788c271d-739e-4b20-82d6-ad387e248b1e
    type: condition
    task:
      id: 788c271d-739e-4b20-82d6-ad387e248b1e
      version: -1
      name: Are there platform details?
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "82"
      "yes":
      - "69"
    separatecontext: false
    conditions:
    - label: "yes"
      condition:
      - - operator: isExists
          left:
            value:
              simple: Fidelis.Endpoint.Platform
            iscontext: true
    view: |-
      {
        "position": {
          "x": 1410,
          "y": 960
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "82":
    id: "82"
    taskid: 797a92e5-dde5-48fd-8c32-d5182cc90251
    type: regular
    task:
      id: 797a92e5-dde5-48fd-8c32-d5182cc90251
      version: -1
      name: fidelis-edr-get-platform-details
      script: '|||fidelis-edr-get-platform-details'
      type: regular
      iscommand: true
      brand: ""
    nexttasks:
      '#none#':
      - "69"
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1245
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "83":
    id: "83"
    taskid: f9544206-9428-410c-8a3f-1bfad8a924ac
    type: condition
    task:
      id: f9544206-9428-410c-8a3f-1bfad8a924ac
      version: -1
      name: Check Event Type
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      Anti-Malware:
      - "17"
      DNS:
      - "85"
      File:
      - "31"
      Network:
      - "75"
      Process:
      - "27"
      Registry:
      - "29"
      USB:
      - "79"
      Windows Event:
      - "76"
    separatecontext: false
    conditions:
    - label: Process
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "0"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "1"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "30"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "31"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "32"
    - label: File
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "5"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "6"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "7"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "8"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "2"
    - label: Registry
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "9"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "12"
    - label: Windows Event
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "13"
    - label: USB
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "14"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "16"
    - label: DNS
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "17"
    - label: Anti-Malware
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "18"
      - - operator: lessThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "29"
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "3"
    view: |-
      {
        "position": {
          "x": 980,
          "y": 3260
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "84":
    id: "84"
    taskid: 83c951cb-b07c-48b6-854d-ab850fa742a6
    type: condition
    task:
      id: 83c951cb-b07c-48b6-854d-ab850fa742a6
      version: -1
      name: Check Event Source
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "83"
      Intelligence Feed:
      - "87"
      Vulnerable Software:
      - "8"
    separatecontext: false
    conditions:
    - label: Intelligence Feed
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.labels.Source
            iscontext: true
          right:
            value:
              simple: Intelligence Feed
    - label: Vulnerable Software
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: incident.labels.Source
            iscontext: true
          right:
            value:
              simple: Installed Software CVE
    view: |-
      {
        "position": {
          "x": 1450,
          "y": 2710
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "85":
    id: "85"
    taskid: ffa056e4-9fd7-4fc6-85a4-b027ef466135
    type: regular
    task:
      id: ffa056e4-9fd7-4fc6-85a4-b027ef466135
      version: -1
      name: Classify incident as Network
      description: Change the properties of an incident
      script: Builtin|||setIncident
      type: regular
      iscommand: true
      brand: Builtin
    nexttasks:
      '#none#':
      - "19"
    scriptarguments:
      addLabels: {}
      affecteddata: {}
      affecteddatatype: {}
      affectedindividualscontactinformation: {}
      app: {}
      approximatenumberofaffecteddatasubjects: {}
      assetid: {}
      attachmentcount: {}
      attachmentextension: {}
      attachmenthash: {}
      attachmentid: {}
      attachmentname: {}
      attachmentsize: {}
      attachmenttype: {}
      bugtraq: {}
      city: {}
      closeNotes: {}
      closeReason: {}
      companyaddress: {}
      companycity: {}
      companycountry: {}
      companyhasinsuranceforthebreach: {}
      companyname: {}
      companypostalcode: {}
      contactaddress: {}
      contactname: {}
      country: {}
      countrywherebusinesshasitsmainestablishment: {}
      countrywherethebreachtookplace: {}
      customFields: {}
      cve: {}
      cvss: {}
      dataencryptionstatus: {}
      datetimeofthebreach: {}
      deleteEmptyField: {}
      dest: {}
      destntdomain: {}
      details: {}
      dpoemailaddress: {}
      duration: {}
      emailaddress: {}
      emailbcc: {}
      emailbody: {}
      emailbodyformat: {}
      emailbodyhtml: {}
      emailcc: {}
      emailclientname: {}
      emailfrom: {}
      emailinreplyto: {}
      emailkeywords: {}
      emailmessageid: {}
      emailreceived: {}
      emailreplyto: {}
      emailreturnpath: {}
      emailsenderip: {}
      emailsize: {}
      emailsource: {}
      emailsubject: {}
      emailto: {}
      emailtocount: {}
      emailurlclicked: {}
      eventdate: {}
      eventid: {}
      eventtarget: {}
      eventtype: {}
      fidelisendpointalertid: {}
      fidelisendpointalertsource: {}
      fidelisendpointeventfound: {}
      filehash: {}
      filename: {}
      filepath: {}
      hostname: {}
      id: {}
      isthedatasubjecttodpia: {}
      labels: {}
      likelyimpact: {}
      maliciouscauseifthecauseisamaliciousattack: {}
      malwarefamily: {}
      measurestomitigate: {}
      name: {}
      occurred: {}
      owner: {}
      phase: {}
      possiblecauseofthebreach: {}
      postalcode: {}
      replacePlaybook: {}
      roles: {}
      sectorofaffectedparty: {}
      severity: {}
      signature: {}
      sizenumberofemployees: {}
      sizeturnover: {}
      sla: {}
      slaField: {}
      src: {}
      srcntdomain: {}
      srcuser: {}
      submitter: {}
      systems: {}
      telephoneno: {}
      type:
        simple: Network
      user: {}
      vendorid: {}
      vendorproduct: {}
      vulnerabilitycategory: {}
      whereisdatahosted: {}
    separatecontext: false
    view: |-
      {
        "position": {
          "x": 2020,
          "y": 3700
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
  "87":
    id: "87"
    taskid: 0829b66a-a491-4f41-834f-749d6018e030
    type: condition
    task:
      id: 0829b66a-a491-4f41-834f-749d6018e030
      version: -1
      name: Check Event Type
      type: condition
      iscommand: false
      brand: ""
    nexttasks:
      '#default#':
      - "19"
      File:
      - "23"
      Network:
      - "21"
      Process:
      - "25"
    separatecontext: false
    conditions:
    - label: Process
      condition:
      - - operator: greaterThanOrEqual
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "0"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "1"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "30"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "31"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "32"
    - label: File
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "5"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "6"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "7"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "8"
        - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "2"
    - label: Network
      condition:
      - - operator: isEqualString
          left:
            value:
              simple: Fidelis.Endpoint.Alert.Event.Event Type
            iscontext: true
          right:
            value:
              simple: "3"
    view: |-
      {
        "position": {
          "x": 3180,
          "y": 3210
        }
      }
    note: false
    timertriggers: []
    ignoreworker: false
view: |-
  {
    "linkLabelsPosition": {
      "67_66_no": 0.66
    },
    "paper": {
      "dimensions": {
        "height": 3865,
        "width": 5020,
        "x": -600,
        "y": 100
      }
    }
  }
inputs: []
outputs: []
